version: 2
jobs:
  build:
    working_directory: /go/src/github.com/VividCortex/ewma
    docker: 
      - image: circleci/golang:1.12.5
    environment:
      GO111MODULE: "off"

    steps:
      - checkout
      - run: go vet ./...
      - run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...
      - run: bash <(curl -s https://raw.githubusercontent.com/VividCortex/codecov-bash/master/codecov)
